<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OPC_To_Modbus_Server.Properties.Settings.TagMappingConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\TagMapping.mdb" providerName="System.Data.OleDb"/>
        <add name="OPC_To_Modbus_Server.Properties.Settings.TagMappingConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\PorNB\Desktop\PTTGC-Project\OPC2Modbus\Software - Service Y2014M7D08\TagMapping.mdb&quot;" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1"/>
        </client>
    </system.serviceModel>
</configuration>
